<!DOCTYPE html>
<html lang="ja">
<head>
    <!--{include file="layouts/html_head.html"}-->
</head>
<body>
<div class="wrapper pa-0">
    <!--{if !empty($is_login)}-->
    <!--{include file='layouts/header.html'}-->
    <!--{/if}-->
    <!--{if !empty($is_login)}-->
    <div class="page-wrapper">
        <!--{/if}-->
        <!--{content_yield name="main"}-->
        <!--{if !empty($is_login)}-->
        <!--{include file='layouts/footer.html'}-->
    </div>
    <!--{/if}-->
</div>
<!-- /#wrapper -->
<!--{include file='layouts/script.html'}-->
</body>
</html>