<nav class="custom-navbar navbar navbar-inverse navbar-fixed-top">
    <div class="mobile-only-brand pull-left">
        <button type="button" class="mt-5 navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <i class="zmdi zmdi-menu"></i>
        </button>
    </div>
    <div class="ml-15 pull-left collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="<!--{if $sidebar == 'top'}-->active<!--{/if}-->"><a href="/">ダッシュボード</a></li>
            <li class="<!--{if $sidebar == 'event'}-->active<!--{/if}-->"><a href="/events">公演管理</a></li>
            <!--{if $is_admin}-->
            <li class="<!--{if $sidebar == 'operator'}-->active<!--{/if}-->"><a href="/operators">イープラスオペレータ管理</a></li>
            <li class="<!--{if $sidebar == 'promoter'}-->active<!--{/if}-->"><a href="/promoters">取引先管理</a></li>
            <li class="<!--{if $sidebar == 'device'}-->active<!--{/if}-->"><a href="/devices">端末管理</a></li>
            <li class="<!--{if $sidebar == 'app_id'}-->active<!--{/if}-->"><a href="/app_id">App ID管理</a></li>
            <li class="<!--{if $sidebar == 'app_version'}-->active<!--{/if}-->"><a href="/app_version">APK管理</a></li>
            <!--{/if}-->
        </ul>
    </div>
    <div id="mobile_only_nav" class="mobile-only-nav pull-right">
        <ul class="nav navbar-right top-nav pull-right">
            <li class="auth-drp">
                <a href="#" class="pull-right dropdown-toggle pr-0 user-name" data-toggle="dropdown">

                    <span class="name"><!--{$name_of_user}--></span> <i class=" zmdi zmdi-hc-2x zmdi-caret-down"></i>
                    <!--<img src="/assets/images/default_avatar.png" alt="user_auth" class="user-auth-img img-circle"></a>-->

                    <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                        <li>
                            <a href="/user/update_name"><i class="zmdi zmdi-account"></i><span>ユーザー名変更</span></a>
                        </li>
                        <li>
                            <a href="/user/update_email"><i class="zmdi zmdi-email"></i><span>メールアドレス変更</span></a>
                        </li>
                        <li>
                            <a href="/user/update_password"><i class="zmdi zmdi-lock-outline"></i><span>パスワード変更</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/user/logout" onclick="window.localStorage.clear();" class="logout"><i class="zmdi zmdi-power"></i><span>ログアウト</span></a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</nav>