<!-- jQuery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/init.js"></script>
<!-- Load backbone JS -->
<script type="text/javascript" src="/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="/assets/js/backbone-min.js"></script>
<script type="text/javascript" src="/core/base/Base.js"></script>
<script type="text/javascript" src="/core/form/Form.js"></script>
<script type="text/javascript" src="/assets/js/IOT_ADMIN.Base.js"></script>

<!--{content_yield name='headjs'}-->
