<div class="page-wrapper pa-0 ma-0 auth-page fw">
    <div class="container-fluid">
        <!-- Row -->
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">
                <div class="auth-form  ml-auto mr-auto no-float">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="mb-30">
                                <h3 class="text-center txt-dark mb-10">バーコードチェッカー</h3>
                                <h6 class="text-center nonecase-font txt-grey">メールアドレスとパスワードを<br/>
                                    入力してください。</h6>
                                <!--{if !empty($errmsg)}-->
                                <p class="mt-5 alert alert-info text-center">
                                    <!--{$errmsg|escape|default:''}-->
                                </p>
                                <!--{/if}-->
                            </div>
                            <div class="form-wrap">
                                <form action="/user/login" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="メールアドレス" value="<!--{$post.email|escape|default:''}-->">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password"  name="password" placeholder="パスワード">
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="checkbox checkbox-primary pr-10 pull-left">
                                            <input id="checkbox_2" name="auto_login" type="checkbox" <!--{if isset($post.auto_login) && $post.auto_login == 'on'}-->checked<!--{/if}-->>
                                            <label for="checkbox_2">ログインしたままにする</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-info btn-rounded">ログイン</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>

</div>