<!-- Error service modal -->
<!-- modal content -->
<div id="modalError" class="modal modal-small fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-center"></h5>
            </div>
            <div class="modal-body">
                <p class="pre-line">問題が発生し、操作が完了できませんでした。問題が続く場合は、管理者にお問い合わせください。</p>
            </div>
            <div class="modal-footer">
                <a href="#"  data-dismiss="modal" class="btn btn-success">OK</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->